@import "../../utils/colors.scss";

.button {
  border: none;
  background-color: $color-main;
  color: $color-white;
  font-size: 1.3rem;
  padding: 1rem 1.5rem;
  border-radius: 10px;
  cursor: pointer;
  text-decoration: none;
}
