.bg {
    $bg-color1: #ff9292;
    $bg-color2: #de5150;
  
    &--pink-gradient {
      background: linear-gradient(74.79deg, $bg-color1 -7.33%, $bg-color2 90.21%);
    }
  
    &--pink-solid {
      background-color: $bg-color2;
    }

    &--form {
      background-color: #FFF4F4;
      max-width: 700px;
      margin: 40px auto;
      border-radius: 20px;
    }
  }
  