.box-list {
    max-width: 270px;

    a {
        color: #4d4d4d;
    }

    li {
        padding: 20px 15px;
        position: relative;
        @extend .flex-container;
        justify-content: flex-start;
        gap: 10px;

        &:not(:first-child) {
            border-top: 1px solid var(--color-shadow);
        }

        &::before {
            content: "";
            position: relative;
            background-image: url('/icons/arrow-in-circle.svg');
            background-size: contain;
            background-repeat: no-repeat;
            width: 30px;
            height: 30px;
        }
    }
}