.button {
  @extend .clickable;
  border-radius: 60px;
  border: none;
  font-size: 1.2rem;
  padding: 1.2rem 0;
  font-weight: 600;
  width: 100%;

  &--white {
    color: var(--color-red);
  }

  @include desktop {
    width: 200px;
  }
}
