.content {
  max-width: 480px;
  margin: 0 auto;
  padding: 30px;

  &__title {
    max-width: 550px;
    font-size: 1.8rem;
    line-height: 2.3rem;
    font-weight: 500;

    &--center {
        text-align: center;
    }

    @include desktop {
        font-size: 3rem;
        line-height: 4rem;
    }
  }

  &__text {
    opacity: 0.8;
    max-width: 550px;
  }

  &__link {
    color: var(--color-red);
    font-weight: 600;
  }

  @include desktop {
    max-width: 900px;
  }
}
