.features {
    gap: 20px;

    &__title {
        font-size: 30px;
        font-weight: bold;
    }

    &__content {
        gap: 30px;
        align-items: flex-start;
    }

    &__list {
        gap: 30px;
        align-items: flex-start;
    }

    &__item {
        gap: 20px;
    }

    &__description {
        align-items: flex-start;
        gap: 7px;
    }

    &__icon {
        @extend .center-item;
        $contour-color: #F68080;
        $contour-thin-color: #FDD8D8;
        $contour-width: 90px;
        $contour-thin-width: 60px;

        position: relative;
        box-sizing: border-box;
        width: $contour-width;
        height: $contour-width;
        border-radius: 50%;
        border: 5px solid $contour-color;

        &-contour {
            @extend .center-item;
            border-radius: 50%;
            border: 2px solid $contour-thin-color; 
            width: $contour-thin-width;
            height: $contour-thin-width;
        }

        &::before {
            box-sizing: border-box;
            content: "";
            position: absolute;
            background-image: url('/icons/semi-circle.svg');
            background-size: contain;
            background-repeat: no-repeat;
            height: calc($contour-width / 2 + 1px);
            width: calc($contour-width + 2px);
            top: 50%;
            left: -7%;
        }
    }

    &__image {
        padding: 50px;
    }
}