.form {
    position: relative;
    max-width: 500px;
    margin: 0 auto;

    &__title {
        font-size: 35px;
        margin: 5px 0;
    }

    form {
        margin: 30px 0;
        gap: 30px;
        justify-content: stretch;
        position: relative;

        @include desktop {
            display: block;
        }
    }



    &__email {
        box-sizing: border-box;
        width: 100%;
    }

    &__submit {
        width: 100%;
        input {
            @extend .clickable;
            background-color: var(--color-red);
        }

        @include desktop {
            width: auto;
            position: absolute;
            top: 0;
            right: 0;
        }
    }

    input {
        display: block;
        border: none;
        padding: 15px 30px;
        border-radius: 73px;
        box-sizing: border-box;
        width: 100%;

        &:focus {
            outline: 2px solid var(--color-shadow);
        }
    }
}