.hero {
  padding: 20px 0;
  text-transform: uppercase;
  width: 100%;
  max-width: 400px;
  gap: 20px;
  align-items: flex-start;

  &__slogan {
    font-size: 1.4rem;
  }

  &__title {
    font-size: 2rem;

    @include desktop {
      font-size: 5rem;
    }
  }
}
