.navigation {
    @extend .clickable;
    position: relative;

    .icon {
        background-color: var(--color-white);
        height: 50px;
        width: 50px;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 50%;
    }

    &--footer {
        gap: 30px;

        a {
            color: var(--color-white);
        }
    }
}