.price {
  max-width: 300px;
  * {
    height: 3rem;
    display: flex;
    align-items: center;
  }

  &__new {
    position: relative;
    font-size: 2.7rem;
    font-weight: bold;
  }

  &__old {
    font-weight: 500;
    font-size: 2.2rem;
    text-decoration: line-through;
    opacity: 0.7;
  }
}
