.product-card {
  @extend .clickable;
  width: 80%;
  margin: auto;
  height: 100%;
  gap: 20px;
  position: relative;

  &__rating,
  &__info {
    width: 100%;
  }

  &__name,
  &__price {
    font-size: 18px;
  }

  &__average-rating {
    font-size: 14px;
  }

  &__average-rating,
  &__price {
    font-weight: 500;
  }

  &__image {
    margin-top: 70px;
    position: relative;
    background-color: var(--color-shadow);
    border-radius: 30px;
    width: 260px;
    height: 270px;

    &::before {
      content: "";
      z-index: 2;
      position: absolute;
      width: 250px;
      height: 300px;
      top: 0;
      left: 0;
      background-size: contain;
      background-repeat: no-repeat;
      transform: translate(5%, -15%);
    }

    &::after {
      content: "";
      position: absolute;
      background-color: var(--color-shadow);
      border-radius: 50%;
      background-image: url("/icons/shopping-cart.svg");
      background-repeat: no-repeat;
      background-position: center;
      top: 0;
      right: 0;
      width: 40px;
      height: 40px;
      padding: 10px;
      border: 5px solid var(--color-white);
      transform: translate(40%, -30%);
    }

    &--pink {
        &,
        &::after {
            background-color: #FFE5EE;
        }

        &::before {
          background-image: url('/images/product-03.png');
        }
    }

    &--blue {
        &,
        &::after {
            background-color: #E5F1FF;
        } 

        &::before {
          background-image: url('/images/product-02.png');
        }
    }

    &--green {
        &,
        &::after {
            background-color: #E5FFFB;
        } 
        
        &::before {
          background-image: url('/images/product-01.png');
        }
    }
  }
}
