@import "../../utils/colors.scss";

.header {
  font-size: 1.5rem;
  font-weight: 100;
  padding-left: 30px;

  &__nav {
    height: 3rem;
  }

  &__logo {
    position: relative;
  }

  &__logo::before {
    content: "";
    position: absolute;
    top: 0;
    transform: translate(-50%, -25%);
    background-image: url("/icons/logo.svg");
    background-size: contain;
    background-repeat: no-repeat;
    z-index: -1;
    width: 80px;
    height: 80px;
  }

  &__item {
    &--active {
      display: none;
    }

    &--inactive {
      display: block;
    }
  }
}
