.content {
  text-align: center;

  &__title {
    font-size: 3.7rem;
    line-height: 3rem;
    font-weight: 400;
    margin: 0;
  }

  &__main-text {
    font-size: 1rem;
    line-height: 2rem;
    font-weight: 100;
  }

  &__buttons {
    padding: 80px 0 30px 0;
    display: flex;
    justify-content: center;
    gap: 70px;
  }
}
