@import url(mobile.css);

@import url(common.blocks/header.css);
@import url(common.blocks/menu.css);
@import url(common.blocks/hero.css);
@import url(common.blocks/button.css);
@import url(common.blocks/play-button.css);
@import url(common.blocks/achievements.css);
@import url(common.blocks/image.css);
@import url(common.blocks/nav.css);

@media screen and (min-width: 769px) and (orientation: landscape) {
  html {
    font-size: 1.1vh;
  }

  .hero__heading {
    font-size: 7rem;
    width: 100%;
  }

  .hero__main-text {
    font-size: 1.5rem;
    width: 56%;
  }

  body.desktop {
    padding: 0 15%;
  }

  .header {
    border: none;
    padding: 5% 0;
  }

  .header__logo {
    width: 6rem;
    height: 6rem;
  }

  .menu__burger {
    display: none;
  }

  .menu__nav,
  .menu__button {
    display: block;
  }

  .hero {
    flex-direction: row;
    height: 70vh;
    align-items: center;
  }

  .image {
    display: flex;
    flex-direction: column;
    width: 50vw;
    margin-left: -20%;
  }

  .image__bg-figure {
    height: 33rem;
    width: 30rem;
  }
}
