@import url(desktop.css);
@import url(mobile.css);

:root {
  --primary-color: #ada7ff;
}

* {
  box-sizing: border-box;
}

html {
  font-family: "Lato";
  color: #404040;
  background: white;
}

body {
  height: 100vh;
  overflow: hidden;
}

a {
  text-decoration: none;
}

li {
  list-style-type: none;
}

p {
  margin: 0;
}

ul {
  padding: 0;
}