* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style-type: none;
  color: white;
}

html {
  font-size: 16px;
}

body {
  background-color: #000;
  background-size: 100%;
  background-repeat: no-repeat;
  font-family: 'Open Sans';
}

main, footer {
  padding: 0 12%;
}

.header {
  height: 180vh;
  position: relative;
  background-image: linear-gradient(330.24deg, rgba(0, 0, 0, 0) 31.06%, #000000 108.93%),
  linear-gradient(360deg, #000000 0%, rgba(0, 0, 0, 0) 77.78%),
  url(../assets/images/hero-bg.png);
  background-size: 100%;
  background-repeat: no-repeat;
}

.flex-container {
  display: flex;
}

.navigation {
  padding: 3.4% 4.4%;
  justify-content: space-between;
}

.logo {
  font-weight: 700;
}

.main-links {
  width: 23%;
  justify-content: space-between;
}

.search-field {
  background-color: transparent;
  border: none;
  width: 50px;
}

.form-input__input {
  padding: 0 0 0 30px; 
  position: relative;
}

.search-field:focus {
  outline: none;
}

.form-input__input::before {
  content: "\f002";
  font-weight: 600;
  font-family: "Font Awesome 6 Free";
  font-size: 0.8rem;
  position: absolute;
  left: 0;
  width: 20px;
  height: 100%;
  display: flex;
  align-items: center;
}

::placeholder {
  color: rgba(255, 255, 255, 0.5);
}

.header-main {
  width: 60%;
  margin: 10% auto;
}

h1 {
  font-size: 5.3rem;
  font-weight: 400;
  line-height: 5.5rem;
}

h2 {
  font-size: 3.5rem;
  font-weight: 700;
}

.span-block {
  display: block;
}

.heading-substance__container {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 35px;
}

.carousel-image .heading-substance__container {
  justify-content: center;
}

.heading-substance {
  color: #FFC178;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 1rem;
  letter-spacing: 6px;
}

.heading-substance__line {
  width: 55px;
  height: 2px;
  background-color: #FFC178;
}

.scroll-link__container {
  padding-top: 150px;
  display: flex;
  justify-content: center;
}

.scroll-link::after {
  content: '\f063';
  font-weight: 600;
  font-family: "Font Awesome 6 Free";
  padding-left: 15px;
}

.social {
  position: absolute;
  writing-mode: vertical-lr;
  display: flex;
  gap: 15px;
  top: 0;
  padding: 25% 40px;
}

main {
  padding: 0 12%;
}

section {
  margin-bottom: 250px;
}

.back {
  flex-direction: row-reverse;
}

.with-card {
  justify-content: space-between;
  align-items: center;
}

.with-card > article {
  width: 40%;
}

.with-card > img {
  width: 40%;
  height: fit-content;
}

.main-text {
  padding: 27px 0;
  line-height: 1.7rem;
}

.read-more {
  color: #FBD784;
}

.read-more::after {
  content: '\f061';
  font-weight: 600;
  font-family: "Font Awesome 6 Free";
  padding-left: 15px;
}

.carousel-image {
  background-image: url(../assets/images/steps-img.png);
  background-size: cover;
  height: 100vh;
  position: relative;
}

.carousel-image .content {
  padding-top: 50vh;
  width: 70%;
  margin: auto;
  text-align: center;
}

.carousel-image h2 {
  width: 80%;
  margin: auto;
}

.footer__header {
  display: flex;
  justify-content: space-between;
  padding: 50px 0;
  border-bottom: solid rgba(255, 255, 255, 0.3) 1px;
}

.footer .panel-right {
  display: flex;
  align-items: center;
  gap: 40px;
}

.logo--big {
  font-size: 3rem;
  font-weight: 700;
}

.cta {
  background-color: #FFA343;
  padding: 20px 55px;
  border: none;
  border-radius: 8px;
  color: black;
  font-weight: 700;
}

.footer__main {
  padding: 50px 0;
  display: flex;
  justify-content: space-between;
}

.email-field__container {
  width: 30%;
}

.email-field__container h3 {
  font-size: 2rem;
}

.email-field {
  margin: 50px 0;
  position: relative;
}

.email::placeholder {
  font-size: 0.7rem;
  opacity: 0.5;
  top: 5px;
}

.email {
  background-color: transparent;
  outline: none;
  border: none;
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
  width: 90%;
  line-height: 4rem;
  font-size: 1.5rem;
}

.email-field::after {
  content: '\f054';
  font-weight: 600;
  font-family: "Font Awesome 6 Free";
  color: #000;
  position: absolute;
  right: 15px;
  bottom: 0;
  background-color: #FFA343;
  height: 50px;
  width: 50px;
  border-radius: 6px 6px 0px 0px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.links-columns {
  width: 60%;
  display: flex;
  justify-content: space-around;
}

.links-column * {
  line-height: 2.7rem;
}

.links-column h4 {
  color: #FFD1A0;
  font-size: 1.2rem;
}

.footer__social {
  padding: 0 30px;
  display: flex;
  justify-content: space-between;
}

.privacy {
  display: flex;
  gap: 50px;
}

.social-links {
  display: flex;
  align-items: center;
  gap: 40px;
}

.copyright {
  padding: 100px 0;
  text-align: center;
  color: rgba(255, 255, 255, 0.5);
}

.carousel-image::before {
  content: '\f053';
  font-weight: 600;
  font-family: "Font Awesome 6 Free";
  display: block;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 30px;
}

.carousel-image::after {
  content: '\f054';
  font-weight: 600;
  font-family: "Font Awesome 6 Free";
  display: block;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 30px;
}