@import "../../utils/colors.scss";

.form {
  background-color: $color-main;
  display: flex;
  flex-direction: column;
  gap: 30px;
  padding: 40px 60px;
  border-radius: 20px;
  font-size: 1.2rem;

  &__label {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 15px;
  }

  &__input {
    border-radius: 10px;
    border: 5px solid $color-white;
    height: 1.9rem;

    &:focus {
      outline: none;
      border: 5px solid $color-orange;
    }
  }
}
