/* Download font 'Poppins' from the internet */
/* If you'd like, you could use your own font. Please go to https://fonts.google.com/ and choose your favourite */
@import url("https://fonts.googleapis.com/css2?family=Open+Sans&family=Poppins:wght@300;400;500;700&display=swap");
@import "../utils/colors.scss";

/* This is called CSS Custom Properties */
/* https://developer.mozilla.org/en-US/docs/Web/CSS/Using_CSS_custom_properties */

/* COMMON PAGE STYLES */
html {
  /* Apply download font "Poppins" by setting that on the first position in a row */
  font-family: "Poppins", sans-serif;
  font-size: 20px;
  background-color: $main-bg-color;
  color: $color-white;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

#app {
  padding: 0;
  height: 100vh;
  min-height: 100vh;
  overflow: hidden;
  position: relative;
}
