@import "../../utils/colors.scss";

.container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: calc(100% - 22px * 2);
  padding: 22px;
  margin: auto;
  max-width: 1200px;

  &__main {
    display: flex;
    justify-content: space-between;

    &--vertical-wrap {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 25px;
    }
  }
}
