/* Download font 'Rubik' from the internet */
/* If you'd like, you could use your own font. Please go to https://fonts.google.com/ and choose your favourite */
@import url("https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import "./utils.scss";
@import "./components/main.scss";

/* This is called CSS Custom Properties */
/* https://developer.mozilla.org/en-US/docs/Web/CSS/Using_CSS_custom_properties */
:root {
  --main-bg-color: #ffffff;
  --color-black: #000000;
  --color-white: #ffffff;
  --color-red: #ff4948;
  --color-shadow: #e5e5e5;
}

/* COMMON PAGE STYLES */
html {
  font-family: "Rubik", sans-serif;
  font-size: 16px;
  background-color: var(--main-bg-color);
  color: var(--color-black);
}

body {
  @include reset;
  width: 100%;
  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none; /* Standard syntax */
  -webkit-tap-highlight-color: transparent;
}

input,
p,
h1,
h2,
h3,
ul,
li,
a {
  @include reset;
}
