@mixin reset {
  margin: 0;
  padding: 0;
  list-style-type: none;
  text-decoration: none;
}

@mixin desktop {
  @media screen and (min-width: 768px) {
    @content;
  }
}

.full-height {
  min-height: 100vh;
}

.font-white {
  color: var(--color-white);
}

.flex-container {
  display: flex;
  align-items: center;
  justify-content: space-between;

  &--adaptive {
    flex-direction: column;

    @include desktop {
      flex-direction: row;
    }
  }

  &--space-around {
    justify-content: space-around;
  }

  &--vertical {
    flex-direction: column;
  }

  &--with-partitions {
    $gap-width: 30px;

    *:not(:first-child) {
      padding-left: $gap-width;
      border-left: 2px solid var(--color-white);
    }

    *:not(:last-child) {
      padding-right: $gap-width;
    }
  }
}

.image {
  max-width: 100%;

  img {
    width: 100%;
  }
}

.clickable {
  cursor: pointer;
}

.center-item {
  display: flex;
  align-items: center;
  justify-content: center;
}

.center-text {
  text-align: center;
}

.hide-in-mobile {
  display: none;

  @include desktop {
    display: block;
  }
}