.content-with-image {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;

  &__content {
    width: 65%;
  }

  &__image {
    position: relative;
    width: 25%;

    img {
      max-width: 100%;
    }
  }
}
