@import "../../utils/colors.scss";

.menu {
    display: flex;
    gap: 60px;
    align-items: center;
  
    li {
      cursor: pointer;

      a {
        text-decoration: none;
        color: $color-white;
      }
    }
  }