.phone-nav {
    @extend .full-height;
    position: fixed;
    top: 0;
    right: 0;
    width: 0;
    background-color: rgba($color: #fff, $alpha: 0.95);
    transition: width 0.7s;
    color: var(--color-red);
    overflow: hidden;
    white-space: nowrap;
    z-index: 1;

    &--displayed {
        width: 80vw;
    }

    &__header {
        position: relative;
        display: flex;
        justify-content: flex-end;
        border-bottom: 1px solid var(--color-red);
    }

    &__cross-btn {
        padding: 15px;
        position: relative;
        font-size: 1.7rem;
    }

    &__links {
        position: relative;
        display: flex;
        flex-direction: column;
        padding: 30px;
        text-align: right;
        font-size: 2rem;
        text-transform: uppercase;
        gap: 20px;
    }
}