.button {
  background-color: var(--primary-color);
  border: none;
  border-radius: 60px;
  padding: 0 2rem;
  height: 4.5rem;
}

.button__text {
  color: white;
  font-weight: 100;
  font-size: 1.3rem;
  line-height: 1.3rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 15px;
  white-space: nowrap;
}

.button-text--with-paw::after {
  content: "";
  position: relative;
  display: inline-block;
  background-image: url(../../assets/images/dog-print.png);
  background-size: contain;
  background-repeat: no-repeat;
  top: 0;
  left: 0;
  width: 2rem;
  height: 2rem;
}
