.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 4% 0 9%;
    border-bottom: 2px solid #e9e9e9;
}

.header__logo {
    width: 4rem;
    height: 4rem;
}

