.hero {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 90vh;
}

.hero__content {
    z-index: 2;
}

.hero__heading {
    font-size: 4rem;
    width: 100%;
}

.hero__main-text {
    font-size: 1.3rem;
    width: 100%;
}

.hero__heading--violet {
    color: var(--primary-color);
}

.hero__buttons {
    padding: 5% 0;
    display: flex;
    gap: 40px;
}
