.image {
  position: relative;
  height: 50vh;
}

.image__container {
  display: flex;
  justify-content: space-between;
}

.image__container--down {
  align-items: flex-end;
  margin-top: -20%;
}

.image__paw {
  height: 37px;
  width: 37px;
}

.image__bg-figure {
  width: 27rem;
  height: 27rem;
  position: relative;
}

.image__dog {
  position: absolute;
  top: 3%;
  right: 0;
  height: 97%;
}

.image__cat {
  position: absolute;
  bottom: -20%;
  left: 0;
  height: 140%;
}
