.menu {
    display: flex;
    align-items: center;
}

.menu__burger {
    background-image: url(../../assets/icons/menu.svg);
    background-repeat: no-repeat;
    background-size: contain;
    width: 3rem;
    height: 3rem;
}

