.nav {
    display: flex;
    justify-content: space-between;
    gap: 2rem;
}

.nav__item {
    color: black;
    font-size: 2rem;
    font-weight: 600;
}

.nav__item--active {
    text-transform: capitalize;
    color: var(--primary-color);
}