.play-button {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.play-button__text {
  color: var(--primary-color);
  font-size: 1.3rem;
}

.play-button::before {
  content: "";
  position: relative;
  display: inline-block;
  background-image: url(../../assets/icons/play.svg);
  background-size: contain;
  background-repeat: no-repeat;
  top: 0;
  left: 0;
  width: 4.5rem;
  height: 4.5rem;
}
